body{
	width: 97vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flex img{
    height: 30vh;
}

img {
    max-height: 100%;
    min-width: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: width 3s;
    z-index: 0;
    padding-top: 1vw;
}


 
.collection:has(input:checked) span {
    display: none;
}
 .collection:has(#all:checked) span {
    display: inline-block;
}

 .collection:has(#alea:checked) span[class~="alea"] {
    display: inline-block;
}
 .collection:has(#lennox:checked) span[class~="lennox"] {
    display: inline-block;
}
.collection:has(#ben:checked) span[class~="ben"] {
    display: inline-block;
}
.collection:has(#sammy:checked) span[class~="sammy"] {
    display: inline-block;
}
.collection:has(#tess:checked) span[class~="tess"] {
    display: inline-block;
}
.collection:has(#niki:checked) span[class~="niki"] {
    display: inline-block;
}
.collection:has(#kit:checked) span[class~="kit"] {
    display: inline-block;
}
.collection:has(#cass:checked) span[class~="cass"] {
    display: inline-block;
}
.collection:has(#thea:checked) span[class~="thea"] {
    display: inline-block;
}
.collection:has(#evelin:checked) span[class~="evelin"] {
    display: inline-block;
}
.collection:has(#mio:checked) span[class~="mio"] {
    display: inline-block;
}
.collection:has(#isla:checked) span[class~="isla"] {
    display: inline-block;
}
.collection:has(#siska:checked) span[class~="siska"] {
    display: inline-block;
}
.collection:has(#nexon:checked) span[class~="nexon"] {
    display: inline-block;
}
.collection:has(#zuzana:checked) span[class~="zuzana"] {
    display: inline-block;
}

.collection:has(#fussel:checked) span[class~="fussel"] {
    display: inline-block;
}
.collection:has(#hilde:checked) span[class~="hilde"] {
    display: inline-block;
}

.collection:has(#orion:checked) span[class~="orion"] {
    display: inline-block;
}
.collection:has(#jinx:checked) span[class~="jinx"] {
    display: inline-block;
}

.collection:has(#nelani:checked) span[class~="nelani"] {
    display: inline-block;
}

.collection:has(#keblarr:checked) span[class~="keblarr"] {
    display: inline-block;
}
.collection:has(#crucis:checked) span[class~="crucis"] {
    display: inline-block;
}
.collection:has(#other:checked) span[class~="other"] {
    display: inline-block;
}


.collection:has(#scene:checked) span[class~="scene"] {
    display: inline-block;}
.collection:has(#portrait:checked) span[class~="portrait"] {
display: inline-block;}

    
